#docker compose for kafka, zookeeper, postgres, and config-manager

version: "3.8"
services:
  zookeeper:
    image: confluentinc/cp-zookeeper
    environment:
      - ZOOKEEPER_CLIENT_PORT=32181
      - ZOOKEEPER_SERVER_ID=1
  kafka:
    image: confluentinc/cp-kafka
    ports:
      - "29092:29092"
    depends_on:
       - zookeeper
    environment:
      - KAFKA_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://kafka:29092
      - KAFKA_ADVERTISED_LISTENERS=INTERNAL://kafka:9092,EXTERNAL://localhost:29092
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
      - KAFKA_BROKER_ID=1
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper:32181
      - KAFKA_MAX_REQUEST_SIZE=1048576
  db:
    image: postgres
    restart: on-failure
    environment:
      POSTGRES_PASSWORD: insights
      POSTGRES_USER: insights
      POSTGRES_DB: insights
    ports:
      - "5432:5432"
  config-manager:
    image: config-manager-poc
    build: .
    ports:
      - "8081:8081"
    depends_on:
      - kafka
      - db
    environment:
      - CM_DB_HOST=db
      - CM_DISPATCHER_IMPL=mock
      - CM_CLOUD_CONNECTOR_IMPL=mock
      - CM_INVENTORY_IMPL=mock
      - CM_PLAYBOOK_HOST=localhost
