apiVersion: v1
kind: Template
metadata:
  name: config-manager
objects:
# The below secrets are used for testing in ephemeral environments only.
- apiVersion: v1
  kind: Secret
  metadata:
    name: psk-playbook-dispatcher
  stringData:
    key: ${PSK_CONFIG_MANAGER}
- apiVersion: v1
  kind: Secret
  metadata:
    name: psk-cloud-connector
  stringData:
    client-id: ${ID_CLOUD_CONNECTOR}
    client-psk: ${PSK_CLOUD_CONNECTOR}

- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: config-manager
  spec:
    testing:
      iqePlugin: config-manager

    envName: ${ENV_NAME}

    optionalDependencies:
    - cloud-connector-api
    - playbook-dispatcher
    - host-inventory

    database:
      name: config-manager
      version: 10

    kafkaTopics:
    - replicas: 3
      partitions: 16
      topicName: platform.playbook-dispatcher.runs
    - replicas: 3
      partitions: 16
      topicName: platform.inventory.events
    - replicas: 3
      partitions: 16
      topicName: platform.inventory.system-profile

    deployments:
    - name: service
      minReplicas: ${{REPLICAS}}
      webServices:
        public:
          enabled: True
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - run
        - -m
        - api
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: CM_LOG_LEVEL
            value: ${CM_LOG_LEVEL}
          - name: CM_LOG_FORMAT
            value: ${CM_LOG_FORMAT}
          - name: CLOWDER_ENABLED
            value: "true"
          - name: CM_DISPATCHER_PSK
            valueFrom:
              secretKeyRef:
                key: key
                name: psk-playbook-dispatcher
          - name: CM_KAFKA_HOSTNAME
            valueFrom:
              secretKeyRef:
                key: hostname
                name: clowder-oauth
                optional: true
          - name: CM_KAFKA_PORT
            valueFrom:
              secretKeyRef:
                key: port
                name: clowder-oauth
                optional: true
          - name: CM_KAFKA_USERNAME
            valueFrom:
              secretKeyRef:
                key: username
                name: clowder-oauth
                optional: true
          - name: CM_KAFKA_PASSWORD
            valueFrom:
              secretKeyRef:
                key: password
                name: clowder-oauth
                optional: true
          - name: CM_KAFKA_SECURITY_PROTOCOL
            valueFrom:
              secretKeyRef:
                key: security_protocol
                name: client-config
                optional: true
          - name: KAFKA_SASL_MECHANISM
            valueFrom:
              secretKeyRef:
                key: sasl_mechanism
                name: client-config
                optional: true    
          - name: CM_DISPATCHER_HOST
            value: ${CM_DISPATCHER_HOST}
          - name: CM_DISPATCHER_IMPL
            value: ${CM_DISPATCHER_IMPL}
          - name: CM_CLOUD_CONNECTOR_PSK
            valueFrom:
              secretKeyRef:
                key: client-psk
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: client-id
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_HOST
            value: ${CM_CLOUD_CONNECTOR_HOST}/api/cloud-connector/v1/
          - name: CM_CLOUD_CONNECTOR_IMPL
            value: ${CM_CLOUD_CONNECTOR_IMPL}
          - name: CM_INVENTORY_HOST
            value: ${CM_INVENTORY_HOST}
          - name: CM_INVENTORY_IMPL
            value: ${CM_INVENTORY_IMPL}
          - name: CM_PLAYBOOK_HOST
            value: ${CM_PLAYBOOK_HOST}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 250m
            memory: 256Mi

    - name: dispatcher-consumer
      minReplicas: ${{REPLICAS}}
      web: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - run
        - -m
        - dispatcher-consumer
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: CM_LOG_LEVEL
            value: ${CM_LOG_LEVEL}
          - name: CM_LOG_FORMAT
            value: ${CM_LOG_FORMAT}
          - name: CLOWDER_ENABLED
            value: "true"
          - name: CM_DISPATCHER_PSK
            valueFrom:
              secretKeyRef:
                key: key
                name: psk-playbook-dispatcher
          - name: CM_DISPATCHER_HOST
            value: ${CM_DISPATCHER_HOST}
          - name: CM_DISPATCHER_IMPL
            value: ${CM_DISPATCHER_IMPL}
          - name: CM_CLOUD_CONNECTOR_PSK
            valueFrom:
              secretKeyRef:
                key: client-psk
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: client-id
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_HOST
            value: ${CM_CLOUD_CONNECTOR_HOST}/api/cloud-connector/v1/
          - name: CM_CLOUD_CONNECTOR_IMPL
            value: ${CM_CLOUD_CONNECTOR_IMPL}
          - name: CM_INVENTORY_HOST
            value: ${CM_INVENTORY_HOST}
          - name: CM_INVENTORY_IMPL
            value: ${CM_INVENTORY_IMPL}
          - name: CM_PLAYBOOK_HOST
            value: ${CM_PLAYBOOK_HOST}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 250m
            memory: 256Mi

    - name: inventory-consumer
      minReplicas: ${{REPLICAS}}
      web: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - run
        - -m
        - inventory-consumer
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: CM_LOG_LEVEL
            value: ${CM_LOG_LEVEL}
          - name: CM_LOG_FORMAT
            value: ${CM_LOG_FORMAT}
          - name: CLOWDER_ENABLED
            value: "true"
          - name: CM_DISPATCHER_PSK
            valueFrom:
              secretKeyRef:
                key: key
                name: psk-playbook-dispatcher
          - name: CM_DISPATCHER_HOST
            value: ${CM_DISPATCHER_HOST}
          - name: CM_DISPATCHER_IMPL
            value: ${CM_DISPATCHER_IMPL}
          - name: CM_CLOUD_CONNECTOR_PSK
            valueFrom:
              secretKeyRef:
                key: client-psk
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: client-id
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_HOST
            value: ${CM_CLOUD_CONNECTOR_HOST}/api/cloud-connector/v1/
          - name: CM_CLOUD_CONNECTOR_IMPL
            value: ${CM_CLOUD_CONNECTOR_IMPL}
          - name: CM_PLAYBOOK_HOST
            value: ${CM_PLAYBOOK_HOST}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 250m
            memory: 256Mi

parameters:
- name: IMAGE_TAG
  required: true
- name: IMAGE
  value: quay.io/cloudservices/config-manager
- description : ClowdEnvironment name
  name: ENV_NAME
  required: true

- name: CM_LOG_LEVEL
  value: debug
- name: CM_LOG_FORMAT
  value: json
- name: CPU_LIMIT
  value: 500m
- name: MEMORY_LIMIT
  value: 512Mi

- name: REPLICAS
  value: "2"

- name: CM_DISPATCHER_HOST
  required: true
- name: CM_DISPATCHER_IMPL
  value: impl

- name: CM_CLOUD_CONNECTOR_HOST
  required: true
- name: CM_CLOUD_CONNECTOR_IMPL
  value: impl

- name: CM_INVENTORY_HOST
  required: true
- name: CM_INVENTORY_IMPL
  value: impl

- name: CM_PLAYBOOK_HOST
  required: true

# Used for testing in ephemeral environments only.
- name: PSK_CONFIG_MANAGER
  value: FLYdxYZGpq
- name: ID_CLOUD_CONNECTOR
  value: config-manager
- name: PSK_CLOUD_CONNECTOR
  value: swordfish
