apiVersion: v1
kind: Template
metadata:
  name: config-manager
objects:
- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: config-manager
  spec:
    envName: ${ENV_NAME}

    database:
      name: config-manager
      version: 10

    kafkaTopics:
    - replicas: 3
      partitions: 16
      topicName: platform.playbook-dispatcher.runs
    - replicas: 3
      partitions: 16
      topicName: platform.inventory.events

    deployments:
    - name: service
      minReplicas: ${{REPLICAS}}
      web: true
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - run
        - -m
        - api
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: LOG_LEVEL
            value: ${LOG_LEVEL}
          - name: CLOWDER_ENABLED
            value: "true"
          - name: CM_DISPATCHER_PSK
            valueFrom:
              secretKeyRef:
                key: key
                name: psk-playbook-dispatcher
          - name: CM_DISPATCHER_HOST
            value: ${CM_DISPATCHER_HOST}
          - name: CM_DISPATCHER_IMPL
            value: ${CM_DISPATCHER_IMPL}
          - name: CM_CLOUD_CONNECTOR_PSK
            valueFrom:
              secretKeyRef:
                key: client-psk
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_CLIENT_ID
            valueFrom:
              secretKeyRef:
                key: client-id
                name: psk-cloud-connector
          - name: CM_CLOUD_CONNECTOR_HOST
            value: ${CM_CLOUD_CONNECTOR_HOST}
          - name: CM_CLOUD_CONNECTOR_IMPL
            value: ${CM_CLOUD_CONNECTOR_IMPL}
          - name: CM_INVENTORY_HOST
            value: ${CM_INVENTORY_HOST}
          - name: CM_INVENTORY_IMPL
            value: ${CM_INVENTORY_IMPL}
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 250m
            memory: 256Mi

    - name: dispatcher-consumer
      minReplicas: ${{REPLICAS}}
      web: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - run
        - -m
        - dispatcher-consumer
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: LOG_LEVEL
            value: ${LOG_LEVEL}
          - name: CLOWDER_ENABLED
            value: "true"
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 250m
            memory: 256Mi

    - name: inventory-consumer
      minReplicas: ${{REPLICAS}}
      web: false
      podSpec:
        image: ${IMAGE}:${IMAGE_TAG}
        args:
        - run
        - -m
        - inventory-consumer
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /metrics
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        env:
          - name: LOG_LEVEL
            value: ${LOG_LEVEL}
          - name: CLOWDER_ENABLED
            value: "true"
          - name: CM_DISPATCHER_PSK
            valueFrom:
              secretKeyRef:
                key: key
                name: psk-playbook-dispatcher
        resources:
          limits:
            cpu: ${CPU_LIMIT}
            memory: ${MEMORY_LIMIT}
          requests:
            cpu: 250m
            memory: 256Mi

parameters:
- name: IMAGE_TAG
  required: true
- name: IMAGE
  value: quay.io/cloudservices/config-manager
- description : ClowdEnvironment name
  name: ENV_NAME
  required: true

- name: LOG_LEVEL
  value: INFO
- name: CPU_LIMIT
  value: 500m
- name: MEMORY_LIMIT
  value: 512Mi

- name: REPLICAS
  value: "2"

- name: CM_DISPATCHER_HOST
  required: true
- name: CM_DISPATCHER_IMPL
  value: impl

- name: CM_CLOUD_CONNECTOR_HOST
  value: mock
- name: CM_CLOUD_CONNECTOR_IMPL
  value: mock

- name: CM_INVENTORY_HOST
  required: true
- name: CM_INVENTORY_IMPL
  value: impl
